<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="RemoteServer.Server">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9901" />
          </baseAddresses>
        </host>
        <endpoint address="IServer"
                  binding="netTcpBinding"
                  contract="Common.IServer"
                  name="endpointServer"/>
      </service>
      <service name="RemoteServer.ProcessState">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9911" />
          </baseAddresses>
        </host>
        <endpoint address="IServerState"
                  binding="netTcpBinding"
                  contract="Common.IServerState"/>
      </service>
    </services>
  </system.serviceModel>
    <applicationSettings>
        <RemoteServer.Properties.Settings>
            <setting name="ServerState" serializeAs="String">
                <value>Unkonwn</value>
            </setting>
        </RemoteServer.Properties.Settings>
    </applicationSettings>
</configuration>