<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="first"
                address="net.tcp://localhost:9911/IServerState"
                binding="netTcpBinding"
                contract="Common.IServerState"/>
      <endpoint name="second"
                address="net.tcp://localhost:9912/IServerState"
                binding="netTcpBinding"
                contract="Common.IServerState"/>
    </client>
  </system.serviceModel>
</configuration>